# for dev: no caddy/.env is required, Caddyfile.dev is used by default
# for prod: provide CADDEFILE=Caddyfile.prod + porkbun certs as below:
CADDYFILE=Caddyfile.prod
PORKBUN_API_KEY=
PORKBUN_API_SECRET_KEY=
