.rendered-markdown
  .bp6-divider
    margin-top: 1rem
    margin-bottom: 1rem

  h2, h3, h4, h5, h6
    &.bp6-heading
      color: var(--bp-typography-color-primary-rest)

  a.bp6-link
    color: var(--bp-typography-color-primary-rest)

.bp6-dark .rendered-markdown
  h2, h3, h4, h5, h6
    &.bp6-heading
      color: var(--bp-typography-color-danger-rest)
  a.bp6-link
    color: var(--bp-typography-color-danger-rest)
