.host-form
  position: relative

.host-form-preview
  position: sticky
  top: 48px
  z-index: var(--bp-surface-z-index-2)

.host-form fieldset
  margin-bottom: 15px
  padding: 10px
  background: var(--bp-surface-background-color-default-rest)

.host-form-actions
  text-align: center

.host-form-row
  display: flex

  > *
    flex: 1
    margin: 10px

  &--tournament

    > *
      flex: initial
