.host-form-template-editor
  display: flex
  flex-direction: row
  align-items: stretch
  justify-content: flex-start
  width: 100%
  gap: 1rem
  margin-top: 1rem

  > *
    flex: 1
    padding: 8px

  textarea.bp6-input
    box-shadow: none
    border-radius: 0
    border-right: 1px solid var(--bp-surface-border-color-default)

.presets-bar
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-end
