@import "~normalize.css/normalize.css"
@import "~@blueprintjs/core/dist/blueprint.css"
@import "~@blueprintjs/labs/dist/blueprint-labs.css"
@import "~react-datepicker/dist/react-datepicker.css"
@import "~rc-time-picker/assets/index.css"

@import "~@blueprintjs/core/dist/variables"

body
  background: $dark-gray2

.app-container
  max-width: 920px
  margin-left: auto
  margin-right: auto
  margin-top: 30px

.required-star
  color: $red4
  padding-left: 5px

// this is silly but required to be higher than the date picker
.rc-time-picker-panel
  z-index: 10000000000

.rc-time-picker-panel
  .rc-time-picker-panel-select
    max-height: 144px
    overflow-y: auto
    ul
      max-height: initial

.rc-time-picker-panel-combobox
  display: flex

.rc-time-picker-panel-select
  flex: 1

.date-time-field-time-section
  text-align: center
  margin: 10px

.rc-time-picker-input
  width: 170px
  font-size: 130%
  text-align: center

.rc-time-picker-panel-input
  width: 100%
  font-size: 130%
  text-align: center

.rc-time-picker-panel-inner
  width: 100%

.game-information, .server-details, .teams-styles, .scenarios-and-tags
  display: flex

  > *
    flex: 1
    margin: 10px


.home-page .pt-card
  margin-bottom: 5px

.remove-match-modal
  z-index: $pt-z-index-overlay + 1

.removed-reason
  text-align: center
  color: $light-gray3

  div
    padding-top: 5px

  .removed-reason-remover
    font-style: italic

.pt-navbar
  display: flex
  justify-content: space-between

.match-moderation-actions
  border-top: 1px solid
  margin-top: 10px
  padding-top: 10px
  text-align: right

.match-moderation-match
  position: relative
  margin-top: 10px
  text-align: center

  .match-content
    margin-left: 20px

  .match-id
    position: absolute
    top: 0
    left: 0

  .match-opens
    font-weight: bold
    margin-left: 10px

  .match-region
    margin-left: 5px
    font-weight: bold

  .match-title
    > span
      margin-right: 4px

  .match-tags
    padding-top: 7px
    padding-bottom: 7px

  .match-tags .pt-tag, .match-scenarios .pt-tag
    margin-right: 10px

.pt-card.pt-intent-danger
  background-color: $red1
  opacity: .8

.match-remove-button
  margin-top: 10px