@import "~normalize.css/normalize.css"
@import "~@blueprintjs/core/dist/blueprint.css"
@import "~@blueprintjs/labs/dist/blueprint-labs.css"
@import "~react-datepicker/dist/react-datepicker.css"
@import "~rc-time-picker/assets/index.css"
@import "~react-virtualized/styles.css"

@import "~@blueprintjs/core/dist/variables"

body
  background: $dark-gray2

html, body, #root
  width: 100%
  height: 100%

.full-page
  display: flex
  flex-direction: column
  align-items: stretch
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: center
  min-height: 100%

.app-container
  width: 100%
  max-width: 920px
  margin-left: auto
  margin-right: auto
  margin-top: 30px
  display: flex
  flex-direction: column
  flex: 1 0 auto
  > div
    flex: 1 0 auto
    display: flex
    flex-direction: column

.ubl-card
  margin-top: 5px
  margin-bottom: 5px

.required-star
  color: $red4
  padding-left: 5px

// this is silly but required to be higher than the date picker
.rc-time-picker-panel
  z-index: 10000000000

.rc-time-picker-panel
  .rc-time-picker-panel-select
    max-height: 144px
    overflow-y: auto
    ul
      max-height: initial

.rc-time-picker-panel-combobox
  display: flex

.rc-time-picker-panel-select
  flex: 1

.react-datepicker
  display: inline-flex
  justify-content: center
  align-items: center
  flex-wrap: wrap

.react-datepicker__month-container
  min-width: 50%
  flex-grow: 1

.date-time-field-time-section
  text-align: center
  margin: 10px
  width: 100%

.rc-time-picker-input
  width: 170px
  font-size: 130%
  text-align: center

.rc-time-picker-panel-input
  width: 100%
  font-size: 130%
  text-align: center

.rc-time-picker-panel-inner
  width: 100%

.opening-time
  text-align: center

.host-form fieldset
  margin-bottom: 15px
  padding: 10px

.host-form-actions
  text-align: center
  margin-bottom: 20px

.host-form-row
  display: flex

  > *
    flex: 1
    margin: 10px

.opening-time .pt-callout
  margin-top: 10px
  text-align: left
  h5
    font-size: $pt-font-size
    line-height: $pt-font-size
    margin: 4px 0 4px 0

.home-page .pt-card
  margin-bottom: 5px

.remove-modal-body
  text-align: center
  h5
    font-style: italic

.removed-reason
  text-align: center
  color: $light-gray3
  border-top: 1px solid
  margin-top: 10px

  div
    padding-top: 5px

  .removed-reason-remover
    font-style: italic

.pt-navbar
  display: flex
  justify-content: space-between

.match-moderation-actions
  position: absolute
  right: 0
  bottom: 0

.match-row
  position: relative
  margin-top: 20px
  text-align: center

  .match-content
    margin-left: 20px

  .match-top-left-ribbon
    position: absolute
    top: -13px
    left: -10px

  .match-top-right-ribbon
    position: absolute
    top: -13px
    right: -10px

  .match-opens, .match-region
    font-weight: bold

  .match-tags
    padding-top: 7px
    padding-bottom: 7px

  .match-tags .pt-tag, .match-scenarios .pt-tag, .server-tags .pt-tag, .match-top-left-ribbon .pt-tag
    margin-right: 10px

  .match-top-right-ribbon .pt-tag
    margin-left: 10px

.pt-card.pt-intent-danger
  background-color: $red1
  opacity: .8

.moderation-log
  .moderation-log-entry
    margin-top: 10px
    display: block

    > *
      margin-right: 10px

    .moderation-log-entry-affected
      font-weight: bold

.members-page button
  margin-top: 15px

.members-page
  display: flex
  > div
    min-width: 50%

.permission-node:hover
  > div > span.pt-tree-node-icon:before
    content: $pt-icon-remove
    color: $pt-intent-danger

.permission-folder:hover
  > div > span.pt-tree-node-icon:before
    content: $pt-icon-add
    color: $pt-intent-success

.hosting-rules
  margin-bottom: 10px
  cursor: pointer

  > .pt-collapse
    cursor: auto

.match-row-dialog
  width: 75%

.date-time-field
  position: relative

.rendered-markdown
  padding-top: 10px
  padding-bottom: 10px

.pt-button-group.pt-minimal > .pt-button::after
  margin: 0

a.username-link, span.username-link
  border-bottom: 1px $pt-dark-text-color dotted
  text-decoration: none
  color: $pt-dark-text-color

  &:hover
    color: $pt-dark-text-color
    border-bottom-style: solid

.pt-card, .pt-navbar, .pt-dialog
  border-top: 3px solid $pt-intent-warning
  border-top-left-radius: 0
  border-top-right-radius: 0
//
//.ubl-card button.pt-large
//  min-width: 20px
//  min-height: 20px
//  line-height: 20px