@use "sass:color"

@import "normalize.css/normalize.css"
@import "@rc-component/picker/assets/index.css"
@import "react-virtualized/styles.css"

@import "../resources/blueprint.css"

$custom-intent-danger: #DB3737
$custom-dark-app-background-color: #282828
$dark-card-background-color: color.adjust($custom-dark-app-background-color, $lightness: 3%)
$dark-navbar-background-color: $dark-card-background-color
$dark-popover-background-color: $dark-card-background-color
$dark-input-background-color: $dark-card-background-color
$dark-button-background-color: $dark-card-background-color
$dark-popover-background-color: $dark-card-background-color
$dark-menu-background-color: $dark-card-background-color
$custom-text-selection-color: #A8A8A8
$dark-input-shadow-color-focus: $custom-intent-danger
$custom-dark-link-color: $custom-intent-danger

.bp6-dark .bp6-dialog-header
  background-color: $dark-card-background-color

html, body, #root
  width: 100%
  height: 100%

.brand-logo
  width: 32px
  height: 32px
  margin-right: 15px

.full-page
  display: flex
  flex-direction: column
  align-items: stretch
  flex-wrap: nowrap
  justify-content: flex-start
  align-content: center
  min-height: 100%
  background-color: var(--bp-surface-background-color-default-rest)

  &.bp6-dark
    background: $custom-dark-app-background-color

  &.navbar-sticky
    margin-top: 44px

.app-container
  width: 100%
  max-width: 920px
  margin-left: auto
  margin-right: auto
  margin-top: 30px
  display: flex
  flex-direction: column
  flex: 1 0 auto
  > div
    flex: 1 0 auto
    display: flex
    flex-direction: column

.current-time-unsynced
  color: $custom-intent-danger

.required-star
  color: var(--bp-palette-red-4)
  padding-left: 5px

.opening-time
  text-align: center
  .bp6-callout
    text-align: left



.home-page .bp6-card
  margin-bottom: 5px
  padding-bottom: 5px

.remove-modal-body
  text-align: center
  h5
    font-style: italic

.removed-reason
  text-align: center
  color: var(--bp-palette-light-gray-3)
  border-top: 1px solid
  margin-top: 10px

  div
    padding-top: 5px

  .removed-reason-remover
    font-style: italic

.bp6-dark .bp6-card.time-settings
  border-top: none

.bp6-card.time-settings
  z-index: var(--bp-surface-z-index-2)
  border-top: none
  width: 100%
  display: flex
  justify-content: center
  padding: 1px 0 0 0

  .time-settings-popout
    position: absolute
    right: 0
    > *
      display: inline
  .current-time
    font-size: 22px
    font-weight: bold
  .bp6-button
    margin: 0
    &:after
      display: none

.navbar-sticky .bp6-card.time-settings
  position: fixed
  top: 0

.bp6-navbar
  display: flex
  justify-content: space-between

.match-moderation-actions
  position: absolute
  right: 0
  bottom: 0

a.match-row-link:hover
  text-decoration: none

.match-details__scenarios,
.match-tags,
.match-scenarios,
.server-tags,
.bp6-tag
  margin: 5px

.match-top-left-ribbon,
.match-top-right-ribbon
  .bp6-tag
    margin: 0 3px 0 3px

.match-row
  position: relative
  margin-top: 20px
  text-align: center

  .match-content
    margin-left: 20px

  .match-top-left-ribbon
    position: absolute
    top: -15px
    left: -10px

  .match-top-right-ribbon
    position: absolute
    top: -15px
    right: -10px

  .match-opens, .match-region
    font-weight: bold

  .match-tags
    padding-top: 7px
    padding-bottom: 7px

.bp6-card.bp6-intent-danger
  background-color: var(--bp-palette-red-1)
  opacity: .8

.bp6-card.application-footer
  padding: 3px
  display: flex
  flex-direction: row
  margin-top: 20px
  justify-content: space-between

  .bp6-button-group .bp6-button
    margin-right: 0

.moderation-log
  .moderation-log-entry
    margin-top: 10px
    display: block

    > *
      margin-right: 10px

    .moderation-log-entry-affected
      font-weight: bold

.members-page button
  margin-top: 15px

.members-page
  display: flex
  gap: 4rem
  > *
    flex: 1

.editable-permission-node
  &.permission-folder-node:hover, .letter-folder-node:hover
    & > .bp6-tree-node-content
      svg
        color: var(--bp-intent-success-hover)

  .username-node:hover > .bp6-tree-node-content svg
    color: $custom-intent-danger

.hosting-rules
  margin-bottom: 8px
  padding: 1rem
  cursor: pointer
  background: var(--bp-surface-border-color-default)

  &_title
    flex: 1

  &_last-modified
    font-size: 12px
    color: var(--bp-palette-gray-4)

  &_content .bp6-collapse-body
    margin-top: 1rem
    padding-top: 1rem
    border-top-color: var(--bp-surface-border-color-default)
    border-top-width: 1px
    border-top-style: solid

  h3
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    margin: 0

    .bp6-icon
      margin-right: .5rem

  > .bp6-collapse
    cursor: auto

.match-row-dialog
  width: 75%

.date-time-field
  position: relative

.ban-expiry-input
  &.react-datepicker
    flex-direction: column

  &_clear-button
    margin-top: .5rem
    margin-bottom: .5rem

.bp6-button-group.bp6-minimal > .bp6-button::after
  margin: 0

a.username-link, span.username-link
  border-bottom: 1px dotted
  border-bottom-color: var(--bp-typography-color-default-rest)
  text-decoration: none
  color: var(--bp-typography-color-default-rest)

  &:hover
    color: var(--bp-typography-color-default-rest)
    border-bottom-style: solid

.bp6-dark
  .bp6-card, .bp6-navbar, .bp6-dialog, .navbar-sticky .bp6-card.time-settings
    border-top: 3px solid $custom-intent-danger

.bp6-card, .bp6-navbar, .bp6-dialog, .navbar-sticky .bp6-card.time-settings
  border-top: 3px solid var(--bp-intent-success-hover)
  border-top-left-radius: 0
  border-top-right-radius: 0

.match-details
  .match-details__header
    position: relative
    margin-bottom: 10px

    .match-details__header__floating-tags__top
      position: relative
      top: -35px
      left: -35px

    .match-details__header__content
      position: relative
      top: -20px
      text-align: center

    .match-details__header__floating-tags__bottom
      position: relative
      left: -35px
      top: -5px

    .bp6-tag
      margin-right: 10px

  .match-details__server-address
    .bp6-control-group
      margin-bottom: 15px
      input
        text-align: center

  .match-details__scenarios
    margin-top: 5px

  .match-details__extra-info
    text-align: center
    display: flex
    flex-direction: row
    justify-content: space-around

    label
      flex-grow: 1
      padding-left: 10px
      padding-right: 10px

    input
      text-align: center

.alert-rule-set-item
  margin-bottom: 10px
  .alert-rule-set-item__field
    width: 150px
    span:not(.bp6-icon)
      margin-left: 10px

  .bp6-tag
    margin-right: 10px
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
